@import "./Main.scss";

.slider {
    overflow: hidden;
    position: relative;
    z-index: 1;
  
    & .slide-list {
      display: flex;
      height: 600px;
      transition: transform 0.5s ease-in-out;
      width: 100%;
  
      & .slide {
        flex: 1 0 100%;
        position: relative;
  
        & .slide-image {
          display: flex;
          margin: 0 auto;
          max-height: 600px;
          width: 100%;
          object-fit: cover;
        }
  
        & .slide-title {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  
    /* DOTS */
  
    & .dots {
      display: flex;
      justify-content: center;
      top: -40px;
      position: relative;
      z-index: 2;
  
      & .dot {
        background-color: #e7e7e7;
        border-radius: 5px;
        height: 10px;
        margin: 5px;
        width: 10px;
  
        &:hover {
          cursor: pointer;
        }
  
        &.selected {
          background-color: $button;
        }
      }
    }
  
    /* ARROWS */
  
    & .arrows {
      color: white;
      display: flex;
      font-size: 30px;
      justify-content: space-between;
      height: 570px;
      position: absolute;
      padding-top: 300px;
      width: 100%;
      z-index: 1;
  
      & .arrow {
        height: 30px;
        width: 30px;
  
        &:hover {
          cursor: pointer;
        }
  
        &.left {
          background-image: url(../image/arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 5px;
          transform: rotate(90deg);
        }
        &.left:hover{
          background-image: url(../image/arrow_hover.svg);
          transform: rotate(90deg);
        }
  
        &.right {
          background-image: url(../image/arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 5px;
          transform: rotate(270deg);
        }

        &.right:hover{
          background-image: url(../image/arrow_hover.svg);
          transform: rotate(270deg);
        }
      }
    }
  }